@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="content-wrapper" style="margin-top:50px;">


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">USER MANAGEMENT</h3>
                            <div class="card-tools">
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: fit-content;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Address</th>
                                        <th>PhoneNumer</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in ViewBag.user)
                                    {
                                        <tr>
                                            <td>@user.AccountID</td>
                                            <td>@user.FirstName</td>
                                            <td>@user.LastName</td>
                                            <td>@user.Address</td>
                                            <td>@user.PhoneNum</td>
                                            <td>@user.Email</td>
                                            <td>@user.Password</td>
                                            <td>
                                                <a asp-controller="Admin" asp-action="ResetPassUser" asp-route-id="@user.AccountID" class="btn btn-primary">Reset Password</a>
                                                <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.AccountID" class="btn btn-danger" onclick="return confirm('Are you sure to delete this toy ?')">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>